@model homework06.Models.BirthdayCardResponse
@{ Layout = null; }
<!DOCTYPE html>

<!--Exercise 2 Validation-->
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <title>Birthday Card Generator</title>
</head>

<h5>Birthday Card Generator</h5>
<hr />

<h3>Birthday Card Sent</h3>

<p>From: @Model.From</p>
<p>To: @Model.To</p>
<p>Message @Model.Message</p>


